<?xml version="1.0" encoding="utf-8" ?> 
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom" xmlns:newznab="http://www.newznab.com/DTD/2010/feeds/attributes/">
<channel>
<atom:link href="http://bogusurl.info/api?age=1500&amp;t=tvsearch&amp;cat=5040%2C5030" rel="self" type="application/rss+xml" />
<title>NZBMegasearch</title>
<description>NZBMegasearch Feed</description>
<link>https://github.com/pillone/usntssearch</link>
<language>en-gb</language>
<webMaster>0byte</webMaster>
<category></category>
<image>
	<url>https://github.com/pillone/usntssearch</url>
	<title>NZBMegasearch</title>
	<link>https://github.com/pillone/usntssearch</link>
	<description>Visit https://github.com/pillone/usntssearch - We stand on the shoulders of giants</description>
</image>

<newznab:response offset="0" total="137362" />
<item>
	<title>World.NZB.Megasearch.Tour.S01E01</title>
	<guid isPermaLink="true">http://bogusurl.bog/details/1234567890123432523523</guid>
	<link>http://bogusurl.bog/getnzb/1234567890123432523523.nzb&amp;i=470&amp;r=438204209348230</link>
	<comments>http://bogusurl.info/details/1234567890123432523523#comments</comments> 	
	<pubDate>Mon, 1 Jan 1970 00:00:00 +0000</pubDate> 
	<category>TV &gt; SD</category> 	
	<description>World.NZB.Megasearch.Tour.S01E01-0byte</description>
	<enclosure url="http://bogusurl.info/getnzb/1234567890123432523523.nzb&amp;i=470&amp;r=438204209348230" length="12" type="application/x-nzb" />

	<newznab:attr name="category" value="5000" />
	<newznab:attr name="category" value="5030" />
	<newznab:attr name="size" value="12" />
	<newznab:attr name="guid" value="438204209348230" />
</item>
<item>
	<title>World.NZB.Megasearch.Tour.S01E02</title>
	<guid isPermaLink="true">http://bogusurl.bog/details/1234567890123432523523</guid>
	<link>http://bogusurl.bog/getnzb/1234567890123432523523.nzb&amp;i=470&amp;r=438204209348230</link>
	<comments>http://bogusurl.info/details/1234567890123432523523#comments</comments> 	
	<pubDate>Mon, 1 Jan 1970 00:00:00 +0000</pubDate> 
	<category>TV &gt; SD</category> 	
	<description>World.NZB.Megasearch.Tour.S01E02-0byte</description>
	<enclosure url="http://bogusurl.info/getnzb/1234567890123432523523.nzb&amp;i=470&amp;r=438204209348230" length="12" type="application/x-nzb" />

	<newznab:attr name="category" value="5000" />
	<newznab:attr name="category" value="5030" />
	<newznab:attr name="size" value="12" />
	<newznab:attr name="guid" value="438204209348230" />
</item>
</channel>
</rss>
