<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<title>NZB MegasearcH</title>
<style type="text/css">
<!--
@import url("static/style.css");
-->
</style>
</head>
<body>
<form action="/" method="post">
<table id="results" summary="Config" style="width: 420px;"><thead>
<tr><th scope="col">General Options</th></tr></thead><tbody>
	<tr>
		<td>Port: <input type="input" name="port" value="{{ genopt['portno'] }}" size="10"></td>
	</tr>	
	<tr>
		<td>	User: <input type="input" name="general_usr" value="{{ genopt['general_usr'] }}" size="12">
			Pass: <input type="password" name="general_pwd" value="{{ genopt['general_pwd'] }}" size="12"></td>
	</tr>
	<tr>	
			<td><input type="checkbox" name="https">HTTPS Enabled </td>
	</tr>					
</tbody></table>

<table id="results" summary="SendtoSAB" style="width: 420px;"><thead>
<tr><th scope="col">SabNZB Integration</th></tr></thead><tbody>
	<tr>	
			<td>Host: <input type="text" name="" value="" size="12">
			API: <input type="text" name="" value="" size="12"></td>
			
	</tr>					
</tbody></table>


<table id="results" summary="Config" style="width: 420px;"><thead>
<tr><th scope="col">Specially supported engines</th></tr></thead><tbody>
{% for c in cfg_bi -%}
	<tr>
		<td>
			<input type="checkbox" name="bi_host{{ c['idx'] }}active" value="1" size="40" {{ c['stchk'] }}> {{ c['humanname'] }}
			<input type="hidden" name="bi_host{{ c['idx'] }}" value="{{ c['type'] }}" size="40">
			{% if c['flogin'] == 1-%}
				-- login: <input type="text" name="bi_host{{ c['idx'] }}login" value="{{ c['loginname'] }}" size="12"> 
				pwd: <input type="password" name="bi_host{{ c['idx'] }}pwd" value="{{ c['loginpwd'] }}" size="12"> 
			{%- endif %}	
		</td>
	</tr>
{%- endfor %}	
</tbody></table>
<table id="results" summary="Config" style="width: 300px;"><thead>
<tr><th scope="col">Newznab Host (API)</th><th scope="col">API</th></tr></thead><tbody>
{% for c in cfg -%}
	{% if c['builtin'] == 0-%}
		<tr>
		<td><input type="text" name="host{{ c['idx'] }}" value="{{ c['url'] }}" size="40"></td>
		<td><input type="text" name="API{{ c['idx'] }}" value="{{ c['api'] }}" size="40">
		<input type="hidden" name="type{{ c['idx'] }}" value="NAB" size="40">
		<input type="hidden" name="host{{ c['idx'] }}active" value="1" size="40"></td>
		</tr>
	{%- endif %}	
{%- endfor %}	
{% for q in range(cnt,cnt_max) -%}
		<tr>
		<td><input type="text" name="host{{ q }}" value="" size="40"></td>
		<td><input type="text" name="API{{ q }}" value="" size="40">
		<input type="hidden" name="type{{ q }}" value="NAB" size="40">
		<input type="hidden" name="host{{ q }}" value="1" size="40"></td>
		</tr>
{%- endfor %}	
</tbody></table>


<table id="results" summary="NZConfig_web" style="width: 300px;"><thead>
<tr><th scope="col">Newznab Host (Web)</th><th scope="col">User</th><th scope="col">Pass</th></tr></thead><tbody>
{% for c in cfg_dp -%}
		<tr>
		<td><input type="text" name="host_ds{{ c['idx'] }}" value="{{ c['url'] }}" size="40"></td>
		<td><input type="text" name="usr_ds{{ c['idx'] }}" value="{{ c['user'] }}" size="18"></td>
		<td><input type="password" name="pass_ds{{ c['idx'] }}" value="{{ c['pwd'] }}" size="18"></td>
		<input type="hidden" name="type_ds{{ c['idx'] }}" value="DSN" size="40">
		<input type="hidden" name="host_ds{{ c['idx'] }}active" value="1" size="40"></td>
		</tr>
{%- endfor %}	
{% for q in range(cnt,cnt_max) -%}
		<tr>
		<td><input type="text" name="host_ds{{ q }}" value="" size="40"></td>
		<td><input type="text" name="usr_ds{{ q }}" value="" size="18">
		<td><input type="text" name="pass_ds{{ q }}" value="" size="18">
		<input type="hidden" name="type{{ q }}" value="NAB" size="40">
		<input type="hidden" name="host{{ q }}" value="1" size="40"></td>
		</tr>
{%- endfor %}	
</tbody></table>


<div style="margin: 45px">
	<input type="submit" value="Save" style="width: 80px; font: bold 16px &#39;Lucida Sans Unicode&#39;, &#39;Lucida Grande&#39;, Sans-Serif; ">
	<input type="button" style="width: 80px; font: 16px &#39;Lucida Sans Unicode&#39;, &#39;Lucida Grande&#39;, Sans-Serif; " value="Cancel" onclick="location.href=&#39;\/&#39;;">
</div></form>
