<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<title>NZB MegasearcH</title>
<style type="text/css">
<!--
@import url("static/style.css");
-->
</style>
</head>
<body>
<form action="/" method="post" name="cfgform">

<table class="results" summary="Config" style="width: 420px;"><thead>
<tr><th scope="col">General Options (requires restart)</th></tr></thead><tbody>
	<tr>
		{% if openshift_install == False -%}
		<td><label for="port">Port:</label> <input type="input" name="port" id="port" value="{{ genopt['portno'] }}" size="10" class="conftbox"></td>
		{%- endif %}
		{% if openshift_install == True -%}
		<td><input type="hidden" name="port" value="{{ genopt['portno'] }}" size="10" ></td>
		{%- endif %}
	</tr>
	<tr>
		{% if openshift_install == False -%}
		<td><input type="checkbox" name="https" id="https" {{ genopt['general_https_verbose'] }}><label for="https">HTTPS Enabled</label></td>
		{%- endif %}
	</tr>
</tbody></table>


<table class="results" summary="security" style="width: 420px;"><thead>
<tr><th scope="col">Security Options</th><th></th></tr></thead><tbody>
	<tr>
		<td> Authentication (optional) </td><td></td>
	</tr>

	<tr>
		<td><label for="general_usr">Username:</label> <input type="input" name="general_usr" id="general_usr" value="{{ genopt['general_usr'] }}" size="18" class="conftbox"></td>
			<td><label for="general_pwd">Pass:</label> <input type="password" name="general_pwd" id="general_pwd" value="{{ genopt['general_pwd'] }}" size="18" class="conftbox"></td>
	</tr>

	<tr>
		<td> <br>Config-page authentication (optional) </td><td></td>
	</tr>

	<tr>
		<td><label for="config_user">Username:</label> <input type="input" name="config_user" id="config_user" value="{{ genopt['config_user'] }}" size="18" class="conftbox"></td>
			<td><label for="config_pwd">Pass:</label> <input type="password" name="config_pwd" id="config_pwd" value="{{ genopt['config_pwd'] }}" size="18" class="conftbox"></td>
	</tr>

	<tr>
		<td> <br>API key for SB, CP connection (optional)</td><td></td>
	</tr>

	<tr>
		<td><input type="button" value="Generate Key" onclick="generate_key()" class="confbttn"> </td> <td> <label for="general_apikey"></label><input type="input" name="general_apikey" id="general_apikey" value="{{ genopt['general_apikey'] }}" size="16" readonly class="conftbox"> <input type="button" value="x" onclick="delete_key()" class="confbttn" > </td>
	</tr>

</tbody></table>


<table class="results" summary="Suggestion" style="width: 420px;"><thead>
<tr><th scope="col">Suggestions and Trends</th></tr></thead><tbody>
	<tr>
			<td><input type="checkbox" name="trends" id="trends" {{ genopt['general_trend_verbose'] }} ><label for="trends">Movie and Show Trends Active</label></td>
	</tr>
			<td><input type="checkbox" name="sugg" id="sugg" {{ genopt['general_suggestion_verbose'] }} ><label for="sugg">Search Suggestions Active</label></td>
	</tr>					

			<td> Number of suggestions/trends (if active)

				<span>
						<select name="seltrqty" class="conftsel">
							<option value="5">5 (default)</option>	
							{% for tnarray_el in tnarray -%}
								<option value='{{ tnarray_el[0] }}' {{ tnarray_el[2]}}>{{ tnarray_el[1] }}</option>
							{%- endfor %}
						</select>
				</span>
				
			</td>
	</tr>					
	

</tbody></table>

<table class="results" summary="ssopt" style="width: 420px;"><thead>
<tr><th scope="col">Search Options</th></tr></thead><tbody>
	<tr>
			<td>Default category:  
				<span>
						<label for="selcat" class="visuallyhidden">Category</label>
						<select name="selcat" id="selcat" class="conftsel">
							<option value="" selected>No categ.</option>
							{% for sopt in selectable_opt -%}
								<option value={{ sopt[0] }} {{ sopt[2] }}>{{ sopt[1] }}</option>
							{%- endfor %}
						</select>
						</span>

				</td>
	</tr>
	<tr>	
		<td><input type="checkbox" name="smartsearch" id="smartsearch" value="1" size="40"  {{ genopt['smartsearch_verbose'] }}> <label for="smartsearch">Smartsearch (suggested -- removes weak matches)</label></td>
	</tr>	

	<tr>	
		<td><input type="checkbox" name="cache_active" id="cache_active" value="1" size="40"  {{ genopt['cache_active_verbose'] }}> <label for="max_cache_qty">Cache results (suggested)</label></td>
	</tr>	

	<tr>	
		<td><input type="checkbox" name="predb_active" id="predb_active" value="1" size="40"  {{ genopt['predb_active_verbose'] }}> <label for="predb_active">PreDB release matching (suggested) [experimental feat]</label></td>
	</tr>	

	<tr>	
		<td>Appended search terms, eg: 'R6 -german -french': <input type="text" name="searchaddontxt" id="searchaddontxt" class="conftbox" value="{{ genopt['searchaddontxt'] }}" size="19" ></td>
	</tr>	

</tbody></table>
 
<table class="results" summary="SendtoSAB" style="width: 420px;"><thead>
<tr><th scope="col">SabNZB Integration</th><th></th></tr></thead><tbody>
	<tr>
			<td><label for="sabnzbd_url">Url:</label> <input type="text" name="sabnzbd_url" id="sabnzbd_url" value="{{ genopt['sabnzbd_url'] }}" size="22" class="conftbox"> </td> <td> 
			<label for="sabnzbd_api">API Key:</label> <input type="text" name="sabnzbd_api" id="sabnzbd_api" value="{{ genopt['sabnzbd_api'] }}" size="22" class="conftbox"></td>
	</tr>
	<tr>
		    <td><input type="button" value="Detect megasearch IP/host" onclick="detect_ip()" class="confbttn">   <label for="general_ipaddress"></label></td><td><input type="text" name="general_ipaddress" id="general_ipaddress" value="{{ genopt['general_ipaddress_verbose'] }}" size="14" class="conftbox"> <input type="button" value="Auto" onclick='cfgform.general_ipaddress.value="AUTO"' class="confbttn"></td>	
	</tr>	
	
</tbody></table>

<table class="results" summary="SendtoNZBGet" style="width: 420px;"><thead>
<tr><th scope="col">NZBGet Integration</th> <th></th> <th></th>  <th></th></tr></thead><tbody>
	<tr>
			<td><label for="nzbget_url">Host:Port :</label> </td> 
			<td><input type="text" name="nzbget_url" id="nzbget_url" value="{{ genopt['nzbget_url'] }}" size="15" class="conftbox"> </td> 
			<td>  </td>
			<td>  </td> 
	</tr>
	<tr>
			<td><label for="nzbget_user">User:</label> </td> 
			<td><input type="text" name="nzbget_user" id="nzbget_user" value="{{ genopt['nzbget_user'] }}" size="15" class="conftbox"> </td> 
			<td><label for="nzbget_pwd">Pwd:</label> </td> 			
			<td> <input type="password" name="nzbget_pwd" id="nzbget_pwd" value="{{ genopt['nzbget_pwd'] }}" size="15" class="conftbox"> </td>
	</tr>

</tbody></table>


<table class="results" summary="Config" style="width: 420px;"><thead>
<tr><th scope="col">Specially supported engines</th></tr></thead><tbody>
{% for c in cfg_bi -%}
	{% if c['flogin'] == 0-%}
	<tr>
		<td>
			<input type="checkbox" name="bi_host{{ c['idx'] }}active" id="bi_host{{ c['idx'] }}active" value="1" size="40" {{ c['stchk'] }}> <label for="bi_host{{ c['idx'] }}active">{{ c['humanname'] }}</label>
			<input type="hidden" name="bi_host{{ c['idx'] }}" value="{{ c['type'] }}" size="40">
			<input type="hidden" name="bi_host{{ c['idx'] }}url" value="{{ c['url'] }}" size="40">
			<input type="hidden" name="bi_host{{ c['idx'] }}speed" value="{{ c['speed_class'] }}" size="40">
		</td>
	</tr>
	{%- endif %}
{%- endfor %}
</tbody></table>

<table class="results" summary="Config" style="width: 420px;"><thead>
<tr><th scope="col">Other supported engines </th><th></th><th></th><th></th><th></th></tr></thead><tbody>
{% for c in cfg_bi -%}
	{% if c['flogin'] == 1-%}
	<tr>
		<td>
			<input type="checkbox" name="bi_host{{ c['idx'] }}active" id="bi_host{{ c['idx'] }}active" value="1" size="40" {{ c['stchk'] }}> <label for="bi_host{{ c['idx'] }}active">{{ c['humanname'] }}</label>
			<input type="hidden" name="bi_host{{ c['idx'] }}" value="{{ c['type'] }}" size="40">
			<input type="hidden" name="bi_host{{ c['idx'] }}url" value="{{ c['url'] }}" size="40">
			<input type="hidden" name="bi_host{{ c['idx'] }}speed" value="{{ c['speed_class'] }}" size="40">
		</td>	
		<td>
			<label for="bi_host{{ c['idx'] }}login">{{ c['flogin_caption_user'] }}:</label> 
		</td>	
		<td>
			<input type="text" name="bi_host{{ c['idx'] }}login" id="bi_host{{ c['idx'] }}login" value="{{ c['loginname'] }}" size="12" class="conftbox">
		</td>	
		<td>
			<label for="bi_host{{ c['idx'] }}pwd">{{ c['flogin_caption_pwd'] }}:</label> 
		</td>	
		<td>
			<input type="password" name="bi_host{{ c['idx'] }}pwd" id="bi_host{{ c['idx'] }}pwd" value="{{ c['loginpwd'] }}" size="12" class="conftbox">
		</td>				
	</tr>
	{%- endif %}
{%- endfor %}
</tbody></table>


<table class="results" summary="Config" style="width: 300px;"><thead>
<tr><th>#</th><th scope="col">Newznab Host (API)</th><th scope="col">API key</th><th scope="col">Timeout</th><th scope="col">Active</th></tr></thead><tbody>
{% for c in cfg -%}
	{% if c['builtin'] == 0-%}
		<tr>
		<td>{{ c['idx']+1 }})</td><td><label for="host{{ c['idx'] }}" class="visuallyhidden">Newznab Host (API)</label>
		<input type="text" name="host{{ c['idx'] }}" id="host{{ c['idx'] }}" value="{{ c['url'] }}" size="35" class="conftbox"></td>
		<td><label for="API{{ c['idx'] }}" class="visuallyhidden">API key</label>
		<input type="text" name="API{{ c['idx'] }}" id="API{{ c['idx'] }}" value="{{ c['api'] }}" size="35" class="conftbox">
		<input type="hidden" name="type{{ c['idx'] }}" value="NAB" size="35">
		<input type="hidden" name="host{{ c['idx'] }}active" value="1" size="35"></td>

		<td><span>
		<label for="selspeed{{ c['idx'] }}" class="visuallyhidden">Timeout</label>
		<select name="selspeed{{ c['idx'] }}" id="selspeed{{ c['idx'] }}"  class="conftsel">
			{% for sopt in c['selspeed_sel'] -%}
				<option value={{ sopt[0] }} {{ sopt[2] }}>{{ sopt[1] }}</option>
			{%- endfor %}
		</select>
		</span></td>

		<td>
			<input type="checkbox" name="valid{{ c['idx'] }}" id="valid{{ c['idx'] }}"  {{c['valid_verbose'] }} >
		</td>
		</tr>
	{%- endif %}
{%- endfor %}
{% for q in range(cnt,cnt_max) -%}
		<tr>
		<td>{{ q+1 }})</td><td><label for="host{{ q }}" class="visuallyhidden">Newznab Host (API)</label>
		<input type="text" name="host{{ q }}" id="host{{ q }}" value="" size="35" class="conftbox"></td>
		<td><label for="API{{ q }}" class="visuallyhidden">API key</label>
		<input type="text" name="API{{ q }}" id="API{{ q }}" value="" size="35" class="conftbox">
		<input type="hidden" name="type{{ q }}" value="NAB" size="35">
		</td>

		<td><span>
		<label for="selspeed{{ q }}" class="visuallyhidden">Timeout</label>
		<select  name="selspeed{{ q }}" id="selspeed{{ q }}"  class="conftsel">
			{% for sopt in sel_speedopt_basic -%}
				<option value={{ sopt[0] }} {{ sopt[2] }}>{{ sopt[1] }}</option>
			{%- endfor %}
		</select>
		</span></td>

		<td>
			<input type="checkbox" name="valid{{ q }}" id="valid{{ q }}" checked=yes >
			<label for="valid{{ q }}" class="visuallyhidden">Active</label>
		</td>
{%- endfor %}
</tbody></table>


<table class="results" summary="NZConfig_web" style="width: 300px;"><thead>
<tr><th>#</th><th scope="col">Newznab Host (Web)</th><th scope="col">Username</th><th scope="col">Password</th><th scope="col">Timeout</th><th scope="col">Active</th></thead></tr><tbody>
{% for c in cfg_dp -%}
		<tr>
		<td>{{ c['idx']+1 }})</td><td><label for="ds_host{{ c['idx'] }}" class="visuallyhidden">Newznab Host (Web)</label>
		<input type="text" name="ds_host{{ c['idx'] }}" id="ds_host{{ c['idx'] }}" value="{{ c['url'] }}" size="40" class="conftbox"></td>
		<td><label for="ds_usr{{ c['idx'] }}" class="visuallyhidden">Username</label>
		<input type="text" name="ds_usr{{ c['idx'] }}" id="ds_usr{{ c['idx'] }}" value="{{ c['user'] }}" size="18" class="conftbox"></td>
		<td><label for="ds_pass{{ c['idx'] }}" class="visuallyhidden">Password</label>
		<input type="password" name="ds_pass{{ c['idx'] }}" id="ds_pass{{ c['idx'] }}" value="{{ c['pwd'] }}" size="18" class="conftbox"></td>
		<input type="hidden" name="ds_type{{ c['idx'] }}" value="DSN" size="40">
		</td>

		<td><span>
		<label for="ds_selspeed{{ c['idx'] }}" class="visuallyhidden">Timeout</label>
		<select  name="ds_selspeed{{ c['idx'] }}" id="ds_selspeed{{ c['idx'] }}"  class="conftsel">
			{% for sopt in c['selspeed_sel'] -%}
				<option value={{ sopt[0] }} {{ sopt[2] }}>{{ sopt[1] }}</option>
			{%- endfor %}
		</select>
		</span></td>
		<td>
			<input type="checkbox" name="ds_valid{{ c['idx'] }}" id="ds_valid{{ c['idx'] }}" {{c['valid_verbose'] }} >
			<label for="ds_valid{{ c['idx'] }}" class="visuallyhidden">Active</label>
		</td>
		</tr>
{%- endfor %}
{% for q in range(cnt_ds,cnt_max) -%}
		<tr>
		<td>{{ q+1 }})</td><td><label for="ds_host{{ q }}" class="visuallyhidden">Newznab Host (Web)</label>
		<input type="text" name="ds_host{{ q }}" id="ds_host{{ q }}" value="" size="40" class="conftbox"></td>
		<td><label for="ds_usr{{ q }}" class="visuallyhidden">Username</label>
		<input type="text" name="ds_usr{{ q }}" id="ds_usr{{ q }}" value="" size="18" class="conftbox">
		<td><label for="ds_pass{{ q }}" class="visuallyhidden">Password</label>
		<input type="password" name="ds_pass{{ q }}" id="ds_pass{{ q }}" value="" size="18" class="conftbox">
		<input type="hidden" name="ds_type{{ q }}" value="DSN" size="40">
		</td>

		<td><span>
		<label for="ds_selspeed{{ q }}" class="visuallyhidden">Timeout</label>
		<select name="ds_selspeed{{ q }}" id="ds_selspeed{{ q }}"  class="conftsel">
			{% for sopt in sel_speedopt_basic -%}
				<option value={{ sopt[0] }} {{ sopt[2] }}>{{ sopt[1] }}</option>
			{%- endfor %}
		</select>
		</span></td>

		<td>
			<input type="checkbox" name="ds_valid{{ q }}" id="ds_valid{{ q }}" checked=yes  >
			<label for="ds_valid{{ q }}" class="visuallyhidden">Active</label>
		</td>
		</tr>
{%- endfor %}
</tbody></table>


<div style="margin: 45px">
	<input type="submit" value="Save" onclick="return check_form_correctness()" class="confbttnbig">
	<input type="button" value="Cancel" onclick="location.href=&#39;\/&#39;;" class="confbttnbig" >
</div></form>


	    <script type="text/javascript">
			function detect_ip()
			{
				cfgform.general_ipaddress.value="{{ cdomainname }}";
			}
			
	    	function generate_key()
			{
				varkey = Math.random().toString(36).slice(2);
				cfgform.general_apikey.value=varkey;
			}
			function delete_key()
			{
				cfgform.general_apikey.value='';
			}

			function check_form_correctness()
			{

				var port_v = cfgform.port.value;
				chk1 = /^\d+$/.test(port_v);
				if(!chk1 || (chk1==true && (parseInt(port_v)> 65535 ||  parseInt(port_v)< 1024 )) )
				{
					alert('ERROR: [Port] is a number-only field between [1024,65535]');
					return false
				}

				var usr_v = cfgform.general_usr.value.replace(/\s+/g, ' ')
				var pwd_v = cfgform.general_pwd.value.replace(/\s+/g, ' ')
				if (((usr_v.length == 0) && (pwd_v.length > 0)) || ((usr_v.length > 0) && (pwd_v.length == 0)))
				{
					alert('ERROR: [User and Password] must be either both empty or both filled');
					return false
				}


				var usrc_v = cfgform.config_user.value.replace(/\s+/g, ' ')
				var pwdc_v = cfgform.config_pwd.value.replace(/\s+/g, ' ')
				if (((usrc_v.length == 0) && (pwdc_v.length > 0)) || ((usrc_v.length > 0) && (pwdc_v.length == 0)))
				{
					alert('ERROR: [Config User and Password] must be either both empty or both filled');
					return false
				}

				var sabnzbd_url_v = cfgform.sabnzbd_url.value.replace(/\s+/g, ' ')
				var sabnzbd_api_v = cfgform.sabnzbd_api.value.replace(/\s+/g, ' ')
				var cb = check_beginning_http(sabnzbd_url_v)
				if ((sabnzbd_api_v.length > 0) && (sabnzbd_url_v.length == 0) || !cb)
				{
					alert('ERROR: [SAB url and api] url missing with provided API key.\nUrl must begin with http(s)://');
					return false
				}

				{% for c in cfg_bi -%}
					{% if c['flogin'] == 1-%}
						var bi_login_v{{ q }} = cfgform.bi_host{{ c['idx'] }}login.value.replace(/\s+/g, ' ')
						var bi_pwd_v{{ q }} = cfgform.bi_host{{ c['idx'] }}pwd.value.replace(/\s+/g, ' ')
						var bi_active_v{{ q }} = cfgform.bi_host{{ c['idx'] }}active.checked
						if ( ((bi_login_v{{ q }}.length == 0) || (bi_pwd_v{{ q }}.length == 0)) && bi_active_v{{ q }} )
						{
							alert('ERROR: Enter user and password for {{ c['humanname'] }}');
							return false
						}
					{%- endif %}
				{%- endfor %}

				{% for q in range(0,cnt_max) -%}
					<!-- -->
					var host{{ q }} = cfgform.host{{ q }}.value.replace(/\s+/g, ' ')
					var hostapi{{ q }} = cfgform.API{{ q }}.value.replace(/\s+/g, ' ')
					var cb = check_beginning_http(host{{ q }})

					if ((host{{ q }}.length == 0) && (hostapi{{ q }}.length > 0) || !cb)
					{
						alert('ERROR: Newznab Host (API) #{{ q+1 }}. Enter url for the given API.\nUrl must begin with http(s)://');
						return false
					}
				{%- endfor %}

				{% for q in range(0,cnt_max) -%}
					<!-- -->
					var ds_host{{ q }} = cfgform.ds_host{{ q }}.value.replace(/\s+/g, ' ')
					var ds_usr{{ q }} = cfgform.ds_usr{{ q }}.value.replace(/\s+/g, ' ')
					var ds_pass{{ q }} = cfgform.ds_pass{{ q }}.value.replace(/\s+/g, ' ')
					var cb = check_beginning_http(ds_host{{ q }})
					var err = 0

					if(!cb)
					{
						err = 1;
					}
					if ((ds_pass{{ q }}.length == 0) && (ds_usr{{ q }}.length > 0))
					{
						err = 1;
					}
					if ((ds_pass{{ q }}.length > 0) && (ds_usr{{ q }}.length == 0))
					{
						err = 1;
					}
					if ((ds_host{{ q }}.length > 0) && ( (ds_pass{{ q }}.length == 0) && (ds_usr{{ q }}.length == 0)  ) )
					{
						err = 1;
					}
					if ((ds_host{{ q }}.length == 0) && ( err == 1  ) )
					{
						err = 1;
					}
					if ((ds_host{{ q }}.length > 0) && ( err == 1  ) )
					{
						err = 1;
					}

					if (err == 1)
					{
						alert('ERROR: Newznab Web  #{{ q+1 }}. Enter url, username and password.\nUrl must begin with http(s)://');
						return false
					}

				{%- endfor %}
			}


			function check_beginning_http(string_to_chk)
			{
				if(string_to_chk.length == 0)
				{
					return true
				}

				var pattern = /^((http|https|ftp):\/\/)/;
				if(!pattern.test(string_to_chk))
				{
					return false
				}
				return true
			}



	    </script>


</body></html>
