<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>NZB MegasearcH</title>
		<link rel="stylesheet" type="text/css" href="static/style.css" />
		<script src="static/overlay.js"></script>
	</head>
	<body>
		<div id="container"> 
		
			<div  class="singleparagraph">
				<p>
					<div  class="headers_singleparagraph">Connection to SICKBEARD
					<img src="static/sick_logo.png" width="" height="32" /></div>
				
				Sickbeard connectivity is always active.<br>	
				In Sickbeard: go to Config/Search Providers and add a custom Newznab  provider, no apikey needed. <br>				
				
				</p>
				<img src="static/cfg_online.jpg" width="" height="" /></div>
				
				<div  class="singleparagraph">
				<p>
					<div  class="headers_singleparagraph">Connection to COUCHPOTATO
					<img src="static/cp_logo.png" width="" height="32" /></div>
				
				Couchpotato connectivity is always active.<br>	
				In Couchpotato: go to Settings/Providers and add a custom Newznab  provider, no apikey needed. <br>	 <br>				
				</p>
				
				<img src="static/cfg_cp_online.jpg" width="" height="" /></div>




				<div  class="singleparagraph">
				<p>
					<div  class="headers_singleparagraph">CHROME extensions
					<img src="static/ch_logo.png" width="" height="32" /></div>
				
				
				<span style=' font-weight: bold;'> jparkerweb </span>developed two Chrome extensions that natively support <span style=' font-weight: bold;'> mega.nzbx.co </span> <br>
				 <span style=' font-weight: bold;'><a href="https://chrome.google.com/webstore/detail/sickbeard-xtender/bifkmchmimmpbagfkachgcogbpcigfmd">Chrome SickBeard Xtender</a></span>: adds links to scene search sites for all of your episodes. Helpful for when SickBeard can't find it on its own.<br>
				 <span style=' font-weight: bold;'><a href="https://chrome.google.com/webstore/detail/nzbdrone-xtender/koaenifojgcodjmhlnhihpclekeegkce">Chrome NZBDrone Xtender</a></span>: adds links to scene search sites for all of your episodes. Helpful for when NZBDrone can't find it on its own. <br>
				</p>

		</div>
		<div class="topright_tight"><a href= "main">[Back]</a></div>
	</body>
</html>
