<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>NZB MegasearcH</title>
		<link rel="stylesheet" type="text/css" href="static/style.css" />
		<script src="static/overlay.js"></script>
	</head>
	<body>
		<div id="container"> 
		
			<div  class="singleparagraph">
				<p>
					<div  class="headers_singleparagraph">Connection to SICKBEARD
					<img src="static/sick_logo.png" width="" height="32" /></div>
				
				Sickbeard connectivity is always active.<br>	
				In Sickbeard: go to Config/Search Providers and add a custom Newznab  provider, no API key needed (unless explicitly set in the <a href='config'>config</a>). <br>				
				
				</p>
				<img src="static/cfg_offline.jpg" width="" height="" /></div>
				
				<div  class="singleparagraph">
				<p>
					<div  class="headers_singleparagraph">Connection to COUCHPOTATO
					<img src="static/cp_logo.png" width="" height="32" /></div>
				
				Couchpotato connectivity is always active.<br>	
				In Couchpotato: go to Settings/Providers and add a custom Newznab provider with API key 123 (any key number will work unless explicitly set in the <a href='config'>config</a>). <br>
				Below is an example of NZBMegasearcH configured with port 5000:
					 <br>				
				
				</p>
				
				<img src="static/cfg_cp_offline.jpg" width="" height="" /></div>

		</div>
		<div class="topright_tight"><a href= "main">[Back]</a></div>
	</body>
</html>
