<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>NZB MegasearcH</title>
		<link rel="stylesheet" type="text/css" href="static/style.css" />
		<script src="static/overlay.js"></script>
	</head>
	<body>
		<div id="container"> 
		
			<div  class="singleparagraph">
				<p>
					<div  class="headers_singleparagraph">Legal/DMCA 
					</div>
					 <span style=' font-weight: bold;'>This site does not store any NZB or XML </span> regarding content posted on newsgroups. 
					No usenet servers are accessed or crawled.

					<br><br>
					This site consists of an automated search engine that 
					only queries, without storing, available information present in other websites.
					<br><br>
				
					<span style=' font-weight: bold;'><strong>Zero content</strong> is stored on this site. There is no database at all.
					Each search result is compiled on the fly. 	</span>Moreover, we do not store search results. <br>
					<span style=' font-weight: bold;'>We are not responsible of the content listed on the crawled web indeces.</span>
					<br>
					<br>
					We merely act as a data transport mechanism. 
					We do not host any of the indexed content that you see on this site. 
					We do not provide access to copyrighted material. <br>
					 <br>

					<span style=' font-weight: bold;'>Please note that all the DMCA requests have to be made to the crawled websites clearly specified
					in each line of result list. They host the NZB files. We do not store NZB.</span> 
					 Send an email to <a href="mailto:XXXX@XXXX">XXXX@XXXX</a> for DMCA requests, they
					 will be dealt with accordingly and you will receive a response within 72 hours. 
					In the vast majority of cases, we require requests to be made via postal mail. 
					Please email the above address to find out the relevant agent address, 
					which can change depending on your country of operation. Requests via email are 
					possible, but will require an agreement to be made between XXXX and the
					 copyright holder (or valid agent), in regards to what constitutes a valid notification - as well
					  as outlining a process that makes all parties happy.

				
				
				</p>
		<div class="topright_tight"><a href= "main">[Back]</a></div>
	</body>
</html>
