<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>NZB MegasearcH</title>
		<link rel="stylesheet" type="text/css" href="static/style.css" />
	</head>
	<body>
		<div id="container"> 
		
			<div  class="singleparagraph">
				<p>
				<div  class="headers_singleparagraph">Log Viewer </div>
				</p>
				<div  class="boxed_paragraph">
				<p class="dense">
					{% for lgi in loginfo -%}
						{{ lgi}} <br>
					{% endfor %}
				</p>	
				</div>
			
			</div>
				
		</div>
		<div class="topright_tight"><a href= "main">[Back]</a></div>
	</body>
</html>
