<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>NZB MegasearcH</title>
		<link rel="stylesheet" type="text/css" href="static/reset2.css" />
		<link rel="stylesheet" type="text/css" href="static/style.css" />
		<script type="text/javascript" src="static/jquery.min.js"></script>
		<script type="text/javascript" src="static/block-ui.js"></script>

		<script src="static/vex.combined.min.js"></script>
		<script>vex.defaultOptions.className = 'vex-theme-default';</script>
		<link rel="stylesheet" href="static/vex.css" />
		<link rel="stylesheet" href="static/vex-theme-default.css" />

		<script type=text/javascript>
		  var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
		</script>

	</head>
	<body>
		{% if large_server  == False -%}
			<div class="topright_tight">
				{% if vr['chk']  == 1 and vr['os']  == 'linux' -%}
				[ <a href='restart?sid={{ sid }}'>
						<span style='color: #ff0000'>Autoupdate Now!</span>
				</a> ]
				{%- else %}
					[ <a href='https://github.com/pillone/usntssearch'>
						{% if vr['chk']  == 1 -%}
							<span style='color: #ff0000'>Update Now!</span>
						{%- endif %}
						{% if vr['chk']  == -1 -%}
							<span style='color: #ff0000'>Error checking updates</span>
						{%- endif %}
						{% if vr['chk']  == 0 -%}
							Github
                       {%- endif %}</a> ]
				{%- endif %}
				[ <a href= "connect"><img src="static/sb_cp.png" width="" height="16" style='vertical-align: bottom;' alt="connect" /></a> ]
				[ <a href= "log"><img src="static/log.png" width="16" height="16" style='vertical-align: bottom;' alt="log" /></a> ]
				[ <a href='config'><img src="static/options.png" width="" height="16" style='vertical-align: bottom;' alt="config" /></a> ]
  			    {% if cgen['general_restrictopt1'] == 0 -%}
					[ {% if vr['os']  != 'openshift' -%}
							<a href='restart?sid={{ sid }}' OnClick="return confirm('Do you really want to restart the program?');" class='restartbutton'><img src="static/restart.png" width="" height="16" style='vertical-align: bottom;' alt="restart"/></a>
					  {%- endif %}
					  {% if cgen['general_restrictopt1'] == 0 -%}
						<a href='poweroff?sid={{ sid }}' OnClick="return confirm('Do you really want to halt the program?');"><img src="static/off.png" width="" height="16" style='vertical-align: bottom;' alt="power off"/></a> 
					  {%- endif %}						
					]
				{%- endif %}	
				</div>
		{%- endif %}


		<div id="container">
			<div  class="titlemain"><a href='\'><img src="static/title.png" width="387" height="" alt="NZBmegasearcH"/></a></div>
			<form action="{{ cgen['revproxy'] }}/s" method="get" class="form-wrapper-01">

					<input type="text" id="search" placeholder="" name="q" value="{{ sstring }}">
					<dl id="selcat_ddown" class="dropdown">
						<dt><a href="#"><span id='ddown_selid'>No categ.</span></a></dt>
						<dd>
							<ul>
								{% for sopt in selectable_opt -%}
									<li><a href="#">{{ sopt[1] }}<span class="value">{{ sopt[0] }}</span></a></li>
								{%- endfor %}
							</ul>
						</dd>
					</dl>
					<input type="hidden" name="selcat" id="selcat" value="">
					<div>
						<input type="hidden" name="tm" id="tm" value="1">
						<a class="tooltips" href="#"><input type="submit" class="gray graybig" value='Search' onclick='$("#tm").attr("value", "1");' id='submit_button1'><span>{{ search_opt[0][0] }} providers, {{cgen['timeout_class'][1]}}s timeout</span></a>
						<a class="tooltips" href="#"><input type="submit" class="gray graybig" value='Search Extended' onclick='$("#tm").attr("value", "2");' id='submit_button2'><span>{{ search_opt[1][0] }} providers, {{cgen['timeout_class'][2]}}s timeout</span></a>
					</div>
	
			</form>
			
			<div class ="suggarea_macro">
				
				<table class="sugg_table">
					<tr>
					{% if   trend_movie -%}
					<td class='sugg_table_td'>
						<table class="config_table_opts sugg_table_modifier"><thead>
							<tr><th scope="col">Movies Trending</th><th></th></tr></thead>
							<tbody>
							{% for tm in trend_movie -%}
								<tr>
									<td>
										<a href="http://www.dereferer.org/?{{ tm['imdb_url'] }}" ><img src="static/imdb.png" width="16" height="16" alt="IMDb" /></a> 
										&nbsp;<a href="s?q={{ tm['searchstr'] }}" class='sugglinx'>{{ tm['prettytxt'] }}</a>
									</td>
								</tr>
							{%- endfor %}
							</tbody>
						</table>							
					</td>		
					{%- endif %}
				
					
					{% if   trend_movie -%}
					<td class='sugg_table_td'>
						<table class="config_table_opts sugg_table_modifier"><thead>
							<tr><th scope="col">Shows Trending</th><th></th></tr></thead>
							<tbody>
							{% for ts in trend_show -%}
								<tr>
									<td>
										<a href="http://www.dereferer.org/?{{ ts['imdb_url'] }}"><img src="static/thetvdb16.png" width="16" height="16" alt="tvdb" /></a>
										&nbsp;<a href="s?q={{ ts['searchstr'] }}" class='sugglinx'>{{ ts['prettytxt'] }}</a>
									</td>
								</tr>
							{%- endfor %}
							</tbody>
						</table>
					</td>
					{%- endif %}
		 

					{% if   sugg -%}
					<td class='sugg_table_td'>
						<table class="config_table_opts sugg_table_modifier"><thead>
							<tr><th scope="col">Did you mean...</th><th></th></tr></thead>
							<tbody>
							{% for sl in sugg -%}
								<tr>
									<td>
									<a href="{{ sl['imdb_url'] }}"><img src="static/imdb.png" width="16" height="16" alt="IMDb" /></a>
									 &nbsp;<a href="s?q={{ sl['searchstr'] }}"  style="color:#ff0000;" class='sugglinx'>{{ sl['prettytxt'] }}</a>
									</td>
								</tr>
							{%- endfor %}
							</tbody>
						</table>							
					</td>
					{%- endif %}
				</tr>
				</table>
				
			{% if servercode_return -%}
				<div class="alert-box" id="alertsuccess">
					<b>Connectivity:</b> 
					{% if servercode_return['code'] == 2 -%}
						cache hit :)
					{% elif servercode_return['code'] == 1 -%}
						<img src="static/ok.png" onmouseover="this.src='static/ok_hover.png'" onmouseout="this.src='static/ok.png'">
					{% elif servercode_return['code'] == 0 -%}
						<img src="static/error.png" onmouseover="this.src='static/error_hover.png'"  onmouseout="this.src='static/error.png'">
					{% endif %}
				</div>

				{% if servercode_return['code'] != 2 -%}
				<div class="alert-box alert-box_info " id="alertinfo">
						<b>{{ servercode_return['summary']|safe}}</b></br></br>
						{% for scode in servercode_return['info'] -%}
							{{ scode|safe}}
						{%- endfor %}				
				</div>	
				{% endif %}	
				
				{%- if not results %}
					<table class="results" summary="Search Results">
						<thead>
							<tr><th scope="col" class=titlecell><b>Title <img src="static/arrow-down.png" style='vertical-align: middle;' alt="sort"/></b></a></th>
								<th scope="col" class=sizecell><b>Type <img src="static/arrow-down.png" style='vertical-align: middle;' alt="sort"/></b></a></th>
								<th scope="col" class=sizecell><b>Size <img src="static/arrow-down.png" style='vertical-align: middle;' alt="sort"/></b></a></th>
								<th scope="col" class=datecell><b>Age <img src="static/arrow-down.png" style='vertical-align: middle;' alt="sort"/></b></a></th>
								<th scope="col" class=providercell><b>Comments <img src="static/arrow-down.png" style='vertical-align: middle;' alt="sort"/></b></a></th>
							</tr>
						</thead>
						<tbody>
						<tr>
							<td class="titlecell"> <p class='text-red'> Your search did not match any documents </p></td>
							<td class="sizecell"> </td>
							<td class="sizecell"> </td>
							<td class="datecell"> </td>
							<td class="providercell"> </td>
						</tr>
						</tbody>
					</table>
				{% endif %}
			{% endif %}
				
			{% if results -%}

			<table class="results" summary="Search Results">
				<thead>
					<tr><th scope="col" class=titlecell><a href="s?q={{ args['q'] }}&order=t&tm={{ speed_class_sel }}&selcat={{ scat }}"><b>Title <img src="static/arrow-down.png" style='vertical-align: middle;' alt="sort"/></b></a>
					<input type="button" class="confbttn" value='Advanced NZB analysis >>' id='nzbanalize' >
					<input type="button" class="confbttn" value='NZB analysis' id='nzbanalize_only'>
					<input type="button" class="confbttn" value='Download NZB with most Pars' id='nzbanalize_down'>
					</th>
					    <th scope="col" class=sizecell><a href="s?q={{ args['q'] }}&order=c&tm={{ speed_class_sel }}&selcat={{ scat }}"><b>Type <img src="static/arrow-down.png" style='vertical-align: middle;' alt="sort"/></b></a></th>
					    <th scope="col" class=sizecell><a href="s?q={{ args['q'] }}&order=s&tm={{ speed_class_sel }}&selcat={{ scat }}"><b>Size <img src="static/arrow-down.png" style='vertical-align: middle;' alt="sort"/></b></a></th>
					    <th scope="col" class=datecell><a href="s?q={{ args['q'] }}&order=d&tm={{ speed_class_sel }}&selcat={{ scat }}"><b>Age <img src="static/arrow-down.png" style='vertical-align: middle;' alt="sort"/></b></a></th>
					    <th scope="col" class=providercell><a href="s?q={{ args['q'] }}&order=p&tm={{ speed_class_sel }}&selcat={{ scat }}"><b>Comments <img src="static/arrow-down.png" style='vertical-align: middle;' alt="sort"/></b></a></th>
					</tr>
				</thead>
				<tbody>
				{% for row in results -%}
					{% if row['ignore'] == 0  -%}
					<tr>

						<td class="titlecell">
							{% if send2sab_exist   -%}
								<a href= "" id=tosab_lnk name=tosab_info{{ row['id'] }}>
								<input type="hidden" value="{{ row['url_encr'] }}" name=tosab_info{{ row['id'] }}>
								<img src="static/sab2_16.png" style='vertical-align: middle;' width="16" height="16"/ name=tosab_info{{ row['id'] }}_img></a>
							{%- endif %}
  
							{% if send2nzbget_exist   -%}
								<a href= "" id=tonzbget_lnk name=tonzbget_info{{ row['id'] }}>
								<input type="hidden" value="{{ row['url_encr'] }}" name=tonzbget_info{{ row['id'] }}>
								<img src="static/nzb2_16.png" style='vertical-align: middle;' width="16" height="16"/ name=tonzbget_info{{ row['id'] }}_img></a>
							{%- endif %}
							<input type="checkbox" id="smartnzb" name="{{ row['id'] }}" class="nzbanalize_cbox">
							
							<a href= "{{ row['url_encr'] }}" id=nzburl{{ row['id'] }}>{{ row['title'] }}</a> 

							{% if row['predb'] == 2 -%}
							<span class = "predbcell">
								<a href="{{ row['predb_lnk'] }}"><img src="static/predb_1st.png" width="12" height="12" class="imgdisplayed"  title="Entry fully matching a PREDB release" /></a>
							</span>	
							{%- endif %}
							{% if row['predb'] == 1 -%}
							<span class = "predbcell">
								<a href="{{ row['predb_lnk'] }}"><img src="static/predb_2nd.png" width="12" height="12" class="imgdisplayed"  title="Entry partially matching a PREDB release"/></a>
							</span>	
							{%- endif %}
							<span id=nzburl_info{{ row['id'] }} class="text-red"></span>
							</td>

						<td class="sizecell" id=tosab_info{{ row['id'] }}_cat>{{ row['cat'] }}</td>
						<td class="sizecell">{{ row['filesize'] }}</td>
						<td class="datecell">{{ row['age'] }}</td>
						<td class="providercell"> <a href= "{{ row['details_deref'] }}">{{ row['providertitle'] }}</a></td>
					</tr>
					{%- endif %}
				{%- endfor %}
				</tbody>
			</table>
			{%- endif %}


			{% if exist -%}
			<table class="results" summary="Detected duplicates">
				<thead>
					<tr><th scope="col" class=titlecell><b>Detected duplicates</b></th>
					    <th scope="col" class=sizecell><b>Type</b></th>
						<th scope="col" class=sizecell><b>Size</b></th>
						<th scope="col" class=datecell><b>Age</b></th>
						<th scope="col" class=providercell><b>Comments</b></th></tr>
				</thead>
				<tbody>
				{% for row in results -%}
					{% if row['ignore'] == 1  -%}
					<tr>
						<td class="titlecell">
							{% if send2sab_exist   -%}
								<a href= "" id=tosab_lnk name=tosab_info{{ row['id'] }}>
								<input type="hidden" value="{{ row['url_encr'] }}" name=tosab_info{{ row['id'] }}>
								<img src="static/sab2_16.png" style='vertical-align: middle;' width="16" height="16"/ name=tosab_info{{ row['id'] }}_img></a>
							{%- endif %}

							{% if send2nzbget_exist   -%}
								<a href= "" id=tonzbget_lnk name=tonzbget_info{{ row['id'] }}>
								<input type="hidden" value="{{ row['url_encr'] }}" name=tonzbget_info{{ row['id'] }}>
								<img src="static/nzb2_16.png" style='vertical-align: middle;' width="16" height="16"/ name=tonzbget_info{{ row['id'] }}_img></a>
							{%- endif %}
							<input type="checkbox" id="smartnzb" name="{{ row['id'] }}" class="nzbanalize_cbox">
							
							<a href= "{{ row['url_encr'] }}" id=nzburl{{ row['id'] }}>{{ row['title'] }}</a> 

							{% if row['predb'] == 2 -%}
							<span class = "predbcell">							
								<a href="{{ row['predb_lnk'] }}"><img src="static/predb_1st.png" width="12" height="12" class="imgdisplayed"/></a>
							{%- endif %}
							{% if row['predb'] == 1 -%}
							<span class = "predbcell">
								<a href="{{ row['predb_lnk'] }}"><img src="static/predb_2nd.png" width="12" height="12" class="imgdisplayed"/></a>
							</span>									
							{%- endif %}
							<span id=nzburl_info{{ row['id'] }} class="text-red"></span>
							</td>

						<td class="sizecell">{{ row['cat'] }}</td>
						<td class="sizecell">{{ row['filesize'] }}</td>
						<td class="datecell">{{ row['age'] }}</td>
						<td class="providercell"> <a href= "{{ row['details_deref'] }}">{{ row['providertitle'] }}</a></td>
					</tr>
					{%- endif %}
				{%- endfor %}
				</tbody>
			</table>
			{%- endif %}

		</div>
	</div>

		
		{% if large_server  == True -%}
			<div class="topright_tight">
				[ <a href='https://github.com/pillone/usntssearch'>Get NZBMegasearch Github</a>]
				[ <a href='legal'>DMCA</a>]
				[ <a href= "connect"><img src="static/sick_logo.png" width="" height="16" style='vertical-align: bottom;' /><img src="static/cp_logo.png" width="" height="16" /></a> ]
			</div>
		{%- endif %}

		<div class="bottomcenter">ver. {{ vr['curver'] }} -- # {{ nc  }} -- 0byte
					{% if vr['os']  == 'openshift' -%}
					-- OPENSHIFT
					{% endif %}
		</div>

	    <script type="text/javascript">
		var serverinfo = 0;
		var MAXINSPECTSELECT = 5;

		window.alert = function(msg){
			vex.dialog.alert({
			  message: msg
			});
		};

		function analysis_unselect_all()
		{
			var allcbox = $('[id^="smartnzb"]')
			
			for ( var i = 0; i < allcbox.length; i++ ) 
			{
				if( $(allcbox[i]).is(':checked' ) == true)
				{
					$(allcbox[i]).prop('checked',false)
				}
			}
		}

		function analysis_select_post()
		{
			
			var allcbox = $('[id^="smartnzb"]')
			var uid = ''
			var uid_range = []
			for ( var i = 0; i < allcbox.length; i++ ) 
			{
				if( $(allcbox[i]).is(':checked' ) == true)
				{
					idname = $(allcbox[i]).attr("name");
					uid = uid + $('#nzburl'+idname).attr("href") + '....'
					uid_range.push(idname)
				}
			}
			uinfo = []
			uinfo.uid_range = uid_range
			uinfo.uid = uid
			return(uinfo)
		}
		

		function txrx_nzbinfo(uinfo, mode)
		{
			uid_range = uinfo.uid_range
			uid = uinfo.uid
			$.ajax($SCRIPT_ROOT + '{{ cgen['revproxy'] }}/smartget', {
				data : uid,
				contentType : 'application/json',
				type : 'POST',
				success: function(data, textStatus, xhr) {
					if(jQuery.inArray( "code", data ))
					{
						if(data['code'] == 0)
						{
							$.unblockUI();
						}
						
						for (var i=0;i<data['code'].length;i++)
						{
							var textrow_info = 'FILES: ' + data['code'][i]['nofile'] +' | PARS: ' + data['code'][i]['pars'] + ' | NFO: ' +data['code'][i]['nfo'] + ' | SIZE: ' +data['code'][i]['nbytes'] + ' MB'
							$('#nzburl_info'+uid_range[data['code'][i]['id']]).text(' [ ' + textrow_info+' ]')
							$.unblockUI();
						}
						
						if(mode == 'download')
						{
							$("body").append("<iframe src='" + data['code'][0]['url']+ "' style='display: none;' ></iframe>");
						}
					}
				}
			});
		}	
			

			
	    $(document).ready(function() {
			$("#nzbanalize_only").hide();
			$("#nzbanalize_down").hide();
			$(".nzbanalize_cbox").hide();

			$("#nzbanalize").click(function () {
				$("#nzbanalize_only").show();
				$("#nzbanalize_down").show();
				$("#nzbanalize").hide();
				$(".nzbanalize_cbox").show();
			});

			$("#nzbanalize_only").click(function () {
				uinfo = analysis_select_post();
				if(uinfo.uid_range.length == 0)
				{
					alert('Select at least one NZB')
				}
				else if(uinfo.uid_range.length > MAXINSPECTSELECT)
				{
					alert('Max '+ MAXINSPECTSELECT + ' simultaneous NZB inspections')
				}
				else
				{
					$.blockUI({ message: '<h1>.:: PLEASE WAIT ::.</h1><br><h2>Downloading and analyzing '+ uinfo.uid_range.length +' NZB</h2><h3>This may take up to {{cgen['timeout_class'][2]}}s</h3>', css: {
					border: 'none',
					padding: '15px',
					backgroundColor: '#000',
					'-webkit-border-radius': '10px',
					'-moz-border-radius': '10px',
					opacity: .7,
					color: '#fff'
							} });

					postdata = txrx_nzbinfo(uinfo,0);
				}
				analysis_unselect_all()     	
			});

			
			$("#nzbanalize_down").click(function () {
				uinfo = analysis_select_post();
				if(uinfo.uid_range.length == 0)
				{
					alert('Select at least one NZB')
				}
				else if(uinfo.uid_range.length > MAXINSPECTSELECT)
				{
					alert('Max '+ MAXINSPECTSELECT + ' simultaneous NZB inspections')
				}
				else
				{
					$.blockUI({ message: '<h1>.:: PLEASE WAIT ::.</h1><br><h2>Downloading and analyzing '+ uinfo.uid_range.length +' NZB</h2><h3>This may take up to {{cgen['timeout_class'][2]}}s</h3>', css: {
					border: 'none',
					padding: '15px',
					backgroundColor: '#000',
					'-webkit-border-radius': '10px',
					'-moz-border-radius': '10px',
					opacity: .7,
					color: '#fff'
							} });
					postdata = txrx_nzbinfo(uinfo,'download');
				}
				analysis_unselect_all()				
			});

 			$("a#tosab_lnk").click(function () {
				var addressValue = $(this).attr("name");
				$('img[name="'+addressValue+'_img"]').attr("src", 'static/loadingicon.gif')
				
				//alert($($(this).attr("name")+'_cat').html())
				catname = $('#'+$(this).attr("name")+'_cat').html()
				
				 $.getJSON($SCRIPT_ROOT + '{{ cgen['revproxy'] }}/tosab',
							{data: $('input[name="'+addressValue+'"]').val(), cat: catname},
							function(data) {
								if(data.code == 1)
								{
									$('img[name="'+addressValue+'_img"]').attr("src", 'static/sab2_16_ok.png')
								}
								else
								{
									$('img[name="'+addressValue+'_img"]').attr("src", 'static/sab2_16_no.png')
								}

								});
				return false;

			});
			
			$("#alertsuccess").click(function () {
				if(serverinfo == 0)
				{
					$("#alertinfo").show();
					serverinfo = 1;
				}
				else
				{
					$("#alertinfo").hide();
					serverinfo = 0;
				}

			});
			
 			$("a#tonzbget_lnk").click(function () {
				var addressValue = $(this).attr("name");
				$('img[name="'+addressValue+'_img"]').attr("src", 'static/loadingicon.gif')

				 $.getJSON($SCRIPT_ROOT + '{{ cgen['revproxy'] }}/tonzbget',
							{data: $('input[name="'+addressValue+'"]').val(), },
							function(data) {
								if(data.code == 1)
								{
									$('img[name="'+addressValue+'_img"]').attr("src", 'static/nzb2_16_ok.png')
								}
								else
								{
									$('img[name="'+addressValue+'_img"]').attr("src", 'static/nzb2_16_no.png')
								}

								});
				return false;

			});


			$('#submit_button1').click(function() {

				$.blockUI({ message: '<h1>.:: PLEASE WAIT ::.</h1><br><h2>Scanning {{ search_opt[0][0] }} providers</h2><h3>This may take up to {{cgen['timeout_class'][1]}}s</h3>', css: {
					border: 'none',
					padding: '15px',
					backgroundColor: '#000',
					'-webkit-border-radius': '10px',
					'-moz-border-radius': '10px',
					opacity: .7,
					color: '#fff'
				} }
						);
            });
            
   			$('#submit_button2').click(function() {

				$.blockUI({ message: '<h1>.:: PLEASE WAIT ::.</h1><br><h2>Scanning {{ search_opt[1][0] }} providers</h2><h3>This may take up to {{cgen['timeout_class'][2]}}s</h3>', css: {
					border: 'none',
					padding: '15px',
					backgroundColor: '#000',
					'-webkit-border-radius': '10px',
					'-moz-border-radius': '10px',
					opacity: .7,
					color: '#fff'
				} }
						);
            });


            $('.sugglinx').click(function() {

				$.blockUI({ message: '<h1>.:: PLEASE WAIT ::.</h1><br><h2>Scanning {{ search_opt[0][0] }} providers</h2><h3>This may take up to {{cgen['timeout_class'][1]}}s</h3>', css: {
					border: 'none',
					padding: '15px',
					backgroundColor: '#000',
					'-webkit-border-radius': '10px',
					'-moz-border-radius': '10px',
					opacity: .7,
					color: '#fff'
				} }
						);
            });
			$.unblockUI();
	     });
	     
		</script>

		<script type="text/javascript">
        $(document).ready(function() {

			var ddown_selarray = [];
			var ddown_selarray_text = [];
			var ddown_selarray_code = [];
			{% for sopt in selectable_opt -%}
				ddown_selarray.push( "{{ sopt[2] }}" );
				ddown_selarray_text.push( "{{ sopt[1] }}" );
				ddown_selarray_code.push( "{{ sopt[0] }}" );
			{%- endfor %}
			for ( var i = 0; i < ddown_selarray.length; i++ ) 
			{
				if(ddown_selarray[i] == 'selected')
				{
					$("#ddown_selid").text(ddown_selarray_text[i]);
					$("#selcat").attr("value", ddown_selarray_code[i]);
				}
			}

	
            $(".dropdown dt a").click(function() {
                $(".dropdown dd ul").toggle();
                return false;
            });
                        
            $(".dropdown dd ul li a").click(function() {
                var text = $(this).html();
                $(".dropdown dt a span").html(text);
                $(".dropdown dd ul").hide();
                $("#selcat").attr("value", getSelectedValue("selcat_ddown"));
                return false;                
            });
                        
            function getSelectedValue(id) {
                return $("#" + id).find("dt a span.value").html();
            }

            $(document).bind('click', function(e) {
                var $clicked = $(e.target);
                if (! $clicked.parents().hasClass("dropdown"))
                    $(".dropdown dd ul").hide();
            });


        });
    </script>
    

	</body>
</html>
