<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>NZB MegasearcH</title>
		<link rel="stylesheet" type="text/css" href="static/style.css" />
		<script src="static/overlay.js"></script>
	</head>
	<body>
		<div id="container">

<!--
			<div class="alert-info">	</div>
-->
			<div id="loader" class="titlemain" style="visibility:hidden;"> <img src="static/loadingicon.gif" width="32" height="32" /></div>
			<div  class="titlemain"><img src="static/title.png" width="387" height="45" /> 	</div>
			
			<form action="/s" method="get" class="form-wrapper-01">
				<input type="text" id="search" placeholder="Enter your keyword" name="q"><input type="submit" value="Search" id="submit" onclick="show_loader()">
			</form>
			<div class="providerlist">  {{ nc  }} NZB indeces are searched each time you hit the button :)	</div>
			{% if sugg -%}			
				<table class ="suggarea_table"  >
					<tr>	<TH COLSPAN="2" style="text-align: right;" >
					Did you mean ...
					</TH></tr>	
				{% for sl in sugg -%}
					<tr>	
					<td  class ="suggarea_title"> <a href="s?q={{ sl['searchstr'] }}"> {{ sl['prettytxt'] }} </a></td>
					<td class ="suggarea_imbd"> <a href="{{ sl['imdb_url'] }}"> <img src="static/imdb.png" width="16" height="16" /> </a> </td>
					</tr>
				{%- endfor %}
				</table>			
			{%- endif %}

			{% if results -%}			

			<table id="results" summary="Search Results">
				<thead>
					<tr><th scope="col" class=titlecell><a href="s?q={{ args['q'] }}&order=t">Title</a></th>
					    <th scope="col" class=sizecell><a href="s?q={{ args['q'] }}&order=c">Type</a></th> 
					    <th scope="col" class=sizecell><a href="s?q={{ args['q'] }}&order=s">Size</a></th> 
					    <th scope="col" class=datecell><a href="s?q={{ args['q'] }}&order=d">Days</a></th> 
					    <th scope="col" class=providercell><a href="s?q={{ args['q'] }}&order=p">Comments</a></th>
					</tr>
				</thead>
				<tbody>
				{% for row in results -%}
					{% if row['ignore'] == 0  -%}
					<tr>
						<td class="titlecell"><a href= "{{ row['url'] }}">{{ row['title'] }}</a></td>
						<td class="sizecell">{{ row['cat'] }}</td>
						<td class="sizecell">{{ row['filesize'] }}</td>
						<td class="datecell">{{ row['age'] }}</td>
						<td class="providercell"> <a href= "{{ row['details'] }}">{{ row['providertitle'] }}</a></td>
					</tr>
					{%- endif %}
				{%- endfor %}
				</tbody>
			</table>
			{%- endif %}


			{% if exist -%}
			<table id="results" summary="Detected duplicates">
				<thead>
					<tr><th scope="col" class=titlecell>Detected duplicates and weak matches</th>
					    <th scope="col" class=sizecell>Type</a></th> 					
						<th scope="col" class=sizecell>Size</th> 
						<th scope="col" class=datecell>Days</th> 
						<th scope="col" class=providercell>Comments</th></tr>
				</thead>
				<tbody>
				{% for row in results -%}
					{% if row['ignore']  -%}
					<tr>
						<td class="titlecell"><a href= "{{ row['url'] }}">{{ row['title'] }}</a></td>
						<td class="sizecell">{{ row['cat'] }}</td>						
						<td class="sizecell">{{ row['filesize'] }}</td>
						<td class="datecell">{{ row['age'] }}</td>
						<td class="providercell"> <a href= "{{ row['details'] }}">{{ row['providertitle'] }}</a></td>
					</tr>
					{%- endif %}
				{%- endfor %}
				</tbody>
			</table>
			{%- endif %}
						
		</div>
		{% if vr['chk']  != 0 -%} 
			<div class="topright">
			
			{% if vr['chk']  == 1 -%} 
				<a href='https://github.com/pillone/usntssearch' style='color: #ff0000;'> New ver. available</a>
			{%- endif %}
			
			{% if vr['chk']  == -1 -%} 
				<span style='color: #ff0000'> Error checking updates </span> 
			{%- endif %}			
			<a href= "config">[Configure]</a> <a href= "connect">[Sickbeard]</a></div>		
		{%- endif %}
		{% if vr['chk']  == 0 -%} 
			<div class="topright_tight"><a href= "config">[Configure]</a> <a href= "connect">[Sickbeard]</a></div>
		{%- endif %}
		<div class="bottomcenter">ver. {{ vr['curver'] }} -- 0byte</div>

	</body>
</html>
