<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="refresh" content="10;url=main">

		<title>NZB MegasearcH</title>
		<link rel="stylesheet" type="text/css" href="static/style.css" />
		<script src="static/overlay.js"></script>
	</head>
	<body>
		<div id="container"> 
		
			<div  class="singleparagraph">
				<p>
					<div  class="headers_singleparagraph">Restarting now...</br></br> <a href="main">Clik here IF the page does not restart automatically in 10s.</a></div>
				</p>	

		</div>

	</body>
</html>
