/* .background-white */
body,
html,
input,
select,
.alert-red,
.boxed_paragraph,
.confbttn,
.confbttnbig,
.conftbox,
.conftbox_err,
.conftsel,
.config_table_opts,
.configsavem,
.results,
.results tbody tr,
#framecontent
{
	background: #282828;
	color: #e0e0e0
}

a,
a:active,
a:hover,
a:visited
{
	color: #a0a0a0
}

.alert-box,
.alert-box_info,
.alert-box_info:hover,
.bottomcenter,
.boxed_paragraph,
.config_table_opts th,
.confbttnbig,
.headers_singleparagraph,
.message,
.providerlist,
.results th,
.singleparagraph,
.tablemenu_fl,
#framecontent
{
	color: #aaa
}


/*	text search box #378b96*/
.ctrl,
.dropdown dd ul,
.dropdown dd ul a,
.form-wrapper-01 #search,
.selcatstlye
{
/*
	color: #5c83a1;
*/
	color: #808080;
	border-color: #505050;
	background-color: #222
}
 
 /* offwhite */
.ctrl:hover,
.dropdown dd ul:hover,
.dropdown dd ul:hover a,
.boxed_paragraph,
.confbttn,
.confbttnbig,
.conftsel,
.conftbox,
.form-wrapper-01 #search:hover,
.selcatstlye:hover
{
	/*border-color: #5c83a1;*/
	border-color: #606060;
	color: #d0d0d0;
}


/* experimental, remove "exper" to see */
exper.results th,
exper.sugg_table tr,
exper.suggarea_macro
{
	background-color: #222
}
exper.suggarea_macro
{
	border-top: 30px solid #222;
	border-bottom: 30px solid #222;

}


.alert-box,
.alert-box_info,
.predbcell .imgdisplayed,
.results th img,
.sugg_table_td img,
.titlecell a img,
.topright_tight img,
.visuallyhidden
{
	border: none 0
}


/* Results Table Styles */

.results th
{
	border-bottom: 2px solid #004e8a
}
.results td
{
	border-bottom: 1px solid #505050;
	color: #5c83a1;
}
.results tbody tr.odd
{
	background: #222
}


.sugg_table_td
{
	color: #5c83a1
}
.didyoumean,
a:visited.didyoumean,
a:active.didyoumean
{
    color: rgb(215,105,105)
}
.light-green,
.text-green
{
    color: rgb(105,215,105)
}
.text-red,
td.text-red
{
    color: rgb(215,35,35)
}
.alert-red
{
    background-color: #f00
}

.confcbox
{
	outline: 1px solid #000
}

.conftbox_err
{
	border: 5px solid red
}

.confbttnbig1
{
	background: #a2bcc0;
	border: 1px solid #a2bcc0;
	color: #fafafa;
}

#maincontent
{
	border-left: 2px solid #004e8a;
}
 
.config_table_opts th
{
	border-bottom: 2px solid #004e8a;
}

.config_table_opts td
{
	border-bottom: 1px solid #505050;
	color: #5c83a1;
}

.alert-box:hover,
.tablemenu_fl tbody tr:hover a,
.config_table_opts tbody tr:hover td,
.config_table_opts tbody tr:hover td a,
.didyoumean tbody tr:hover td,
.didyoumean tbody tr:hover td a,
.results tbody tr:hover td,
.results tbody tr:hover td a
{
	/* to go with, deep red */
	color: #ddd
	
	/* to go with, bright yellow */
	/*color: #ad1519*/
}

.tablemenu_fl tbody tr:hover,
.dropdown dd ul li a:hover,
.results tbody tr:hover,
.config_table_opts tbody tr:hover
{
	/* deep red */
	background-color: #ad1519

	/* bright yellow */
	/* background-color: #F2F5B6; */
	/* background-color: #F2F5A9; */
}

.config_table_opts .config_table_opts_nonhover:hover th,
.config_table_opts .config_table_opts_nonhover:hover td
{
	background-color: #282828;
	color: #93b3cc;
}


.downarrow 
{
	background: transparent url("/static/arrow-down-dark.png") no-repeat 50% 70%;
	width: 18px;
	height: 6px;
	padding: 0;
}

.border,
.gray
{
    border-color: #606060;
} 

.border:hover,
.border:active,
.gray:hover,
.gray:active
{
	border-color: #868684;
}

.gray
{
    background: #242424; /* Old browsers */
    background: -moz-linear-gradient(top,  #242424 0%, #222 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#242424), color-stop(100%,#222)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #242424 0%,#222 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #242424 0%,#222 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #242424 0%,#222 100%); /* IE10+ */
    background: linear-gradient(top,  #242424 0%,#222 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#242424", endColorstr="#222",GradientType=0 ); /* IE6-9 */
    color: #888;
    text-shadow: 0px 1px 1px rgba(40,40,40,1);
}
 
.gray:hover
{
    background: background: #282828; /* Old browsers */
    background: -moz-linear-gradient(top,  #282828 0%, #222 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#282828), color-stop(100%,#222)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #282828 0%,#222 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #282828 0%,#222 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #282828 0%,#222 100%); /* IE10+ */
    background: linear-gradient(top,  #282828 0%,#222 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#282828", endColorstr="#222",GradientType=0 ); /* IE6-9 */
    color: #e0e0e0; 
/*    -webkit-box-shadow: 0px 1px 1px 0px rgba(10, 10, 10, 0.4);*/
    -webkit-box-shadow: 0px 1px 4px 0px rgba(245, 245, 245, 0.8);
    -moz-box-shadow: 0px 1px 4px 0px rgba(245, 245, 245, 0.8);
    box-shadow: 0px 1px 4px 0px rgba(245, 245, 245, 0.8);
}

.gray:active
{ 
    border-color: #868684; 
    color: #e0e0e0;
    -webkit-box-shadow: inset 0 0 2px 4px #222, 0 1px 0 0 #2e2e2e;
    -moz-box-shadow: inset 0 0 2px 4px #222, 0 1px 0 0 #2e2e2e;
    box-shadow: inset 0 0 2px 4px #222, 0 1px 0 0 #2e2e2e;
}

a.tooltips span
{
  color: #000;
  background: #fff;
}

a.tooltips span:after
{
  border-top: 8px solid #fff;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}

a:hover.tooltips span
{
  opacity: 0.6;
}

/*
 taken from http://www.jankoatwarpspeed.com/
 * all credits to him
*/
.dropdown dt a
{
	background: #222 url("/static/arrow-down-dark.png") no-repeat scroll 96% center; 
}

