/* Reset styles */
/*
@import url(reset.css);
*/

/* Typography */
body
{
	line-height: 1.6em;
}
h1,h2,h3,h4 {
	font-size: 2em;
	line-height: 1.5em;
	font-weight: bold;
}
h2 {
	font-size: 1.7em;
}
h3 {
	font-size: 1.4em;
}
h4 {
	font-size: 1.1em;
}

a {
	color: #039;
    text-decoration: underline;
}


.selcatstlye{
	border: 1px solid #ccc;
	height: 40px;
	padding: 0px;

	font: 16px Helvetica, Arial, Sans-Serif;
	background:#fff;

	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	color: #378b96

}

/* Container Div */
div#container
{
	margin: 0 auto;
	max-width: 1400px;
	min-width: 960px;
	width: 100%;
}
/* ------------------
 styling for the tables
   ------------------   */
 /*this is what we want the div to look like*/
.topright{
    display:block;
	font: bold 12px Helvetica, Arial, Sans-Serif;;

    /*set the div in the top right corner*/
    position:absolute;
    top:0;
    right:0;
    width:250px;
}

.rollingwheel {
	width: 450px;
	margin: 0px auto;
	padding: 0px;
	text-align: center;
}

.message{
   display:block;
	font: 14px Helvetica, Arial, Sans-Serif;;
    position:absolute;
	color: #039;

}

.bottomcenter{
	font: 8px Helvetica, Arial, Sans-Serif;;
	text-align: center;
	color: #039;
	width: 450px;
	margin: 5px auto;
}

.providerlist{
	font: 12px Helvetica, Arial, Sans-Serif;;
	text-align: center;
	color: #039;
	width: 450px;
	margin: 5px auto;
}
.topright_tight{
    display:block;
	font: bold 12px Helvetica, Arial, Sans-Serif;;

    /*set the div in the top right corner*/
    position:absolute;
    top:0;
    right:0;
    width:290px;
}

.headers_singleparagraph{
	font-size: 28px;
	margin: 45px auto;
	font-family:bold  Helvetica, Arial, Sans-Serif;
	color: #039;
}


.singleparagraph{
	font-size: 14px;
	font-family: Helvetica, Arial, Sans-Serif;
	color: #039;
    margin: 45px 160px;
	width: 60%;
	text-align: left;
}
.titlemain {
	width: 450px;
	margin: 0px auto;
	padding: 0px;
	text-align: center;

}


.suggarea_macro {
	font-family: Helvetica, Arial, Sans-Serif;
	font-size: 14px;
	margin: 20px auto;
/*
	border:1px solid black;
	text-align: right;
*/
}

.trend_table {
	font-family: Helvetica, Arial, Sans-Serif;
	font-size: 14px;
	text-align: right;
	vertical-align: top;
	display: inline-table;
	margin-left: 20px;
	}


.suggarea_table {
	font-family: Helvetica, Arial, Sans-Serif;
	font-size: 14px;
	text-align: right;
	display: inline-table;
	margin-left: 20px;
	}

.suggarea_title {
	word-break:break-all;
/*
	width: 95%;
*/
}

.suggarea_imbd {
 padding-left: 5px; 
 }

.form-wrapper-01 {
	width: 505px;
	margin: 5px auto;
	padding: 5px;
	overflow: hidden;
	border-width: 0px;
	border-style: solid;
	border-color: #dedede #bababa #aaa #bababa;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

/*
 text search box #378b96
*/
.form-wrapper-01 #search {
	width: 320px;
	height: 18px;
	padding: 10px 5px;
	float: left;
	font: 16px Helvetica, Arial, Sans-Serif;
	border: 1px solid #ccc;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;

	color: #378b96

}


.form-wrapper-01 #search:focus {
	outline: 0;
	border-color: #aaa;
/*
	-moz-box-shadow: 0 1px 1px #bbb inset;
	-webkit-box-shadow: 0 1px 1px #bbb inset;
	box-shadow: 0 1px 1px #bbb inset;
*/
}

.form-wrapper-01 #search::-webkit-input-placeholder {
	color: #999;
	font-weight: normal;
	font: 16px Helvetica, Arial, Sans-Serif;
	font-style:italic;
	color: #378b96
}

.form-wrapper-01 #search:-moz-placeholder {
	color: #999;
	font-weight: normal;
	font-size:14px;
	font-style:italic;
}

.form-wrapper-01 #search:-ms-input-placeholder {
	color: #999;
	font-weight: normal;
	font-size:14px;
	font-style:italic;
}

/*
 button
*/
.form-wrapper-01 #submit {
	float: right;
	border: 1px solid #a2bcc0;
	height: 75px;
	width: 40px;
	padding: 0;
	cursor: pointer;
	font: bold 16px Helvetica, Arial, Sans-Serif;
	color: #fafafa;
	text-transform: none;
	background-color: #a2bcc0;

	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.form-wrapper-01 #submit:hover,
.form-wrapper-01 #submit:focus {
	background-color: #31b2c3;
}

.form-wrapper-01 #submit:active {
	outline: 0;
}

.form-wrapper-01 #submit::-moz-focus-inner {
	border: 0;
}

#search {
	width: 230px; /*--- we will change this width on hover effect ---*/
	height: 20px;
	padding: 10px 5px;
	float: right;
	font:  bold 16px Helvetica, Arial, Sans-Serif;
	border: 1px solid #ccc;
}

/* Results Table Styles */
.results
{
	font-family: Helvetica, Arial, Sans-Serif;
	font-size: 12px;
	background: #fff;
	margin: 45px;
	width: 90%;
	border-collapse: collapse;
	text-align: left;
}
.results th
{
	font-size: 14px;
	font-weight: normal;
	color: #039;
	padding: 2px 2px;
	border-bottom: 2px solid #6678b1;
}
.results td
{
	border-bottom: 1px solid #ccc;
	color: #669;
	padding: 2px 2px;
}
.results tbody tr:hover td
{
	color: #009;
}
.results tbody tr:hover {
	background: #f0f0f0 none;
}
.titlecell {
	width: 60%;
}

.sizecell {
	width: 10%;
	text-align: center;
}

.predbcell {
	width: 10%;
	text-align: center;
}

.datecell {
	width: 10%;
	text-align: center;
}

.providercell {
	width: 10%;
	text-align: center;	
}



.searchkind {
	background-color: #ffffff;
	text-align: center;
	font: 16px Helvetica, Arial, Sans-Serif;
	width: 210px;
	color: #378b96;
	vertical-align: middle;
}


.alert-info {
	font: 14px Helvetica, Arial, Sans-Serif;;
	padding: 8px 35px 8px 14px;
	color: #ffffff;
	text-shadow: none;
	background-color: #a2bcc0;
	text-align: center;
	width: 420px;
	margin: 10px auto;
	margin-bottom: 18px;
	overflow: hidden;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}


.alert-info-silent {
	font: 14px Helvetica, Arial, Sans-Serif;;
	padding: 8px 35px 8px 14px;
	width: 420px;
	margin: 40px auto;
	margin-bottom: 18px;
	overflow: hidden;
}

.alert-flex, .alert-red {
    width: 150px;
    font: bold 14px Helvetica, Arial, Sans-Serif;
    color: #ffffff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 2px 4px 2px 4px;
    float: right;
    margin: 0 0 5px;
}
.alert-flex {
    background-color: #a2bcc0;
}
.alert-red {
    background-color: #ff0000;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.confcbox {
	outline: 1px solid #000000
}

.conftbox {
	font: 12px Helvetica, Arial, Sans-Serif;
	border: 1px solid #ccc;
	color: #000000
}

.confbttn {
	background:#fff;
	font: 12px Helvetica, Arial, Sans-Serif;
	border: 2px solid #ccc;
	color: #000000
}

.confbttnbig {
	background:#a2bcc0;
	width: 150px; 
	font: bold 16px Helvetica, Arial, Sans-Serif;
	border: 1px solid #a2bcc0;
	color: #fafafa;

	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	
}

.conftsel {
	font: 12px Helvetica, Arial, Sans-Serif;
	border: 1px solid #ccc;
	background:#fff;

	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}


.imgdisplayed {
 }
