/* Reset styles */
@import url(reset.css);

/* Typography */
body
{
	line-height: 1.6em;
}
h1,h2,h3,h4 {
	font-size: 2em;
	line-height: 1.5em;
	font-weight: bold;
}
h2 {
	font-size: 1.7em;
}
h3 {
	font-size: 1.4em;
}
h4 {
	font-size: 1.1em;
}

/* Container Div */
div#container
{
	margin: 0 auto;
	max-width: 1400px;
	min-width: 960px;
	width: 100%;
}
/* ------------------
 styling for the tables 
   ------------------   */
 /*this is what we want the div to look like*/
.topright{
    display:block;
	font: bold 12px 'Lucida Sans Unicode', 'Lucida Grande', Sans-Serif;

    /*set the div in the top right corner*/
    position:absolute;
    top:0;
    right:0;
    width:250px;
}

.rollingwheel {
	width: 450px;
	margin: 0px auto;
	padding: 0px;
	text-align: center;
}

.message{
   display:block;
	font: 14px 'Lucida Sans Unicode', 'Lucida Grande', Sans-Serif;
    position:absolute;
	color: #039;
 
}

.bottomcenter{
	font: 8px 'Lucida Sans Unicode', 'Lucida Grande', Sans-Serif;
	text-align: center;	
	color: #039;
	width: 450px;
	margin: 5px auto;
}

.providerlist{
	font: 12px bold 'Lucida Sans Unicode', 'Lucida Grande', Sans-Serif;
	text-align: center;	
	color: #039;
	width: 450px;
	margin: 5px auto;
}
.topright_tight{
    display:block;
	font: bold 14px 'Lucida Sans Unicode', 'Lucida Grande', Sans-Serif;

    /*set the div in the top right corner*/
    position:absolute;
    top:0;
    right:0;
    width:150px;
}

.headers_singleparagraph{
	font-size: 28px;
	margin: 45px auto;
	font-family:bold  "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	color: #039;
}


.singleparagraph{
	font-size: 14px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	color: #039;
    margin: 45px auto;
	width: 90%;
	text-align: left;
}
.titlemain {
	width: 450px;
	margin: 0px auto;
	padding: 0px;
	text-align: center;

}

.form-wrapper-01 {
	width: 450px;
	margin: 5px auto;
	padding: 5px;
	overflow: hidden;
	border-width: 1px;
	border-style: solid;
	border-color: #dedede #bababa #aaa #bababa;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-color: #f6f6f6;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#eae8e8));
	background-image: -webkit-linear-gradient(top, #f6f6f6, #eae8e8);
	background-image: -moz-linear-gradient(top, #f6f6f6, #eae8e8);
	background-image: -ms-linear-gradient(top, #f6f6f6, #eae8e8);
	background-image: -o-linear-gradient(top, #f6f6f6, #eae8e8);
	background-image: linear-gradient(top, #f6f6f6, #eae8e8);
}

/*
 text search box #378b96 
*/
.form-wrapper-01 #search {
	width: 330px;
	height: 20px;
	padding: 10px 5px;
	float: left;
	font: 16px 'Lucida Sans Unicode', '"Lucida Grande', Sans-Serif;
	border: 1px solid #ccc;
	-moz-box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #fff;
	-webkit-box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #fff;
	box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #fff;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	color: #378b96 

}
 
.form-wrapper-01 #search:focus {
	outline: 0;
	border-color: #aaa;
	-moz-box-shadow: 0 1px 1px #bbb inset;
	-webkit-box-shadow: 0 1px 1px #bbb inset;
	box-shadow: 0 1px 1px #bbb inset;
}
 
.form-wrapper-01 #search::-webkit-input-placeholder {
	color: #999;
	font-weight: normal;
	font-size:12px;
	font-style:italic;
}
 
.form-wrapper-01 #search:-moz-placeholder {
	color: #999;
	font-weight: normal;
	font-size:12px;
	font-style:italic;
}
 
.form-wrapper-01 #search:-ms-input-placeholder {
	color: #999;
	font-weight: normal;
	font-size:12px;
	font-style:italic;
}

/*
 button
*/
.form-wrapper-01 #submit {
	float: right;
	border: 1px solid #00748f;
	height: 42px;
	width: 100px;
	padding: 0;
	cursor: pointer;
	font: bold 15px Arial, Helvetica;
	color: #fafafa;
	text-transform: none;
	background-color: #0483a0;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#31b2c3), to(#0483a0));
	background-image: -webkit-linear-gradient(top, #31b2c3, #0483a0);
	background-image: -moz-linear-gradient(top, #31b2c3, #0483a0);
	background-image: -ms-linear-gradient(top, #31b2c3, #0483a0);
	background-image: -o-linear-gradient(top, #31b2c3, #0483a0);
	background-image: linear-gradient(top, #31b2c3, #0483a0);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	text-shadow: 0 1px 0 rgba(0, 0 ,0, .3);
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 0 #fff;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 0 #fff;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 0 #fff;
}
 
.form-wrapper-01 #submit:hover,
.form-wrapper-01 #submit:focus {
	background-color: #31b2c3;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#0483a0), to(#31b2c3));
	background-image: -webkit-linear-gradient(top, #0483a0, #31b2c3);
	background-image: -moz-linear-gradient(top, #0483a0, #31b2c3);
	background-image: -ms-linear-gradient(top, #0483a0, #31b2c3);
	background-image: -o-linear-gradient(top, #0483a0, #31b2c3);
	background-image: linear-gradient(top, #0483a0, #31b2c3);
}
 
.form-wrapper-01 #submit:active {
	outline: 0;
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
}
 
.form-wrapper-01 #submit::-moz-focus-inner {
	border: 0;
}

#search {
	width: 230px; /*--- we will change this width on hover effect ---*/
	height: 20px;
	padding: 10px 5px;
	float: right;
	font:  bold 16px 'lucida sans', 'trebuchet MS', 'Tahoma';
	border: 1px solid #ccc;
	-moz-box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #fff;
	-webkit-box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #fff;
	box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #fff;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-transition:all 1s ease;
	-webkit-transition:all 1s ease;
	-o-transition:all 1s ease;
	-ms-transition:all 1s ease;
	transition:all 1s ease; /*--- These transition effect will give an animated expanding effect to the search box ---*/
}
 
#search:focus,
#search:hover{
	outline: 0;
	border-color: #aaa;
	-moz-box-shadow: 0 1px 1px #bbb inset;
	-webkit-box-shadow: 0 1px 1px #bbb inset;
	box-shadow: 0 1px 1px #bbb inset;
	width:330px; /*--- We have change the width from 100px to 330px ---*/
}
 
/* Results Table Styles */
#results
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	background: #fff;
	margin: 45px;
	width: 90%;
	border-collapse: collapse;
	text-align: left;
}
#results th
{
	font-size: 14px;
	font-weight: normal;
	color: #039;
	padding: 2px 2px;
	border-bottom: 2px solid #6678b1;
}
#results td
{
	border-bottom: 1px solid #ccc;
	color: #669;
	padding: 2px 2px;
}
#results tbody tr:hover td
{
	color: #009;
}
#results tbody tr:hover {
	background: #f0f0f0 none;
}
.titlecell {
	width: 60%;
}

.sizecell {
	width: 10%;
}

.datecell {
	width: 10%;
}

.providercell {
	width: 10%;
}

.alert-info {
	font: bold 14px 'Lucida Sans Unicode', 'Lucida Grande', Sans-Serif;
	padding: 8px 35px 8px 14px;
	color: #ffffff;
	text-shadow: none;
	background-color: #a2bcc0;
	text-align: center;
	width: 420px;
	margin: 10px auto;
	margin-bottom: 18px;
	overflow: hidden;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
 


